body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(195, 53%, 79%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Encabezado */

h1 {
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 3.5rem;
    font-weight: 900;
    left: 32%;
}

h4 {
    font-size: 2rem;
    color: hsl(39, 67%, 92%);
}

header {
    position: relative;
    z-index: 6;
}

.topnav {

    position: relative;
    background-color: hsl(240, 65%, 49%);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 20px;
    display: flex;
    margin: 5px;
}

.topnav-filter {
    border: 5px solid hsl(216, 100%, 50%);
    background-color: hsl(39, 67%, 92%);
    transition: height 0.5s ease;
    justify-content: start;
    padding-bottom: 0.8rem;
    flex-direction: column;
    border-radius: 1.5rem;
    align-items: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 5%;
    overflow: hidden;
    display: flex;
    height: 50px;
    margin: 5px;
    width: 35%;
}

.topnav-filter svg {
    width: 30px;
    height: 40px;
}

.users {
    display: flex;
    width: 30rem;
    gap: 15px;
}

nav svg {
    transition: transform 0.3s ease, color 0.3s ease;
    fill: hsl(0, 0%, 100%);
    cursor: pointer;
}

nav svg:hover {
    transform: scale(1.1);
}

/* Panel del navegador */

.main-topbar
{
    display: flex;
    justify-content: space-between;
}

.topnav-menu {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(211, 100%, 50%);
    transition: height 0.5s ease;
    border-radius: 25px;
    position: absolute;
    overflow: hidden;
    height: 0px;
    margin: 5px;
    z-index: -4;
    width: 98%;
    left: 10px;
    top: 60px;
}

.topnav-menu-content {
    justify-content: center;
    align-items: start;
    padding: 10px;
    display: flex;
    gap: 100px;
}

.topnav-menu-content h4 {
    color: hsl(0, 0%, 96%);
}

.topnav-menu-content-card {
    border: 5px solid hsl(211, 100%, 50%);
    background-color: hsl(195, 53%, 79%);
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    width: 33%;
}

/* Contenido principal */
/* Tabla */

.dataMenu {
    display: flex;
}

.dataMenu-table {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    overflow: scroll;
    display: flex;
    height: 720px;
    width: 100%;
}

.dataMenu-table::-webkit-scrollbar {
    display: none;
}

.dataMenu-card {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 5px solid hsl(216, 100%, 50%);
    border-right-width: 8px;
    border-top-width: 10px;
    border-radius: 15px;
    text-indent: 20px;
    font-size: 18px;
    margin: 10px;
    width: 700px;
}

.dataMenu-card-buttons {
    flex-direction: row-reverse;
    margin-bottom: 20px;
    border-radius: 15px;
    display: flex;
    height: 0px;
    gap: 5px;
}

.dataMenu-card-buttons button {
    background-color: hsl(216, 100%, 50%);
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    border: none;
    height: 50px;
    width: 50px;
}

.dataMenu-card-buttons button:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

/* Formulario */

.dataMenu-form {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.dataMenu-form-buttons {
    margin-bottom: 10px;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.button-panel {
    display: flex;
}

.dataMenu-form-buttons button {
    margin-right: 20px;
    cursor: pointer;
    border: none;
    height: 60px;
    width: 70px;
}

.dataMenu-form-buttons button:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

.dataMenu-form-windows {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(216, 100%, 50%);
    border-radius: 5px;
    width: 50rem;
    overflow: hidden;
    height: 60%;
    position: relative;
}

.dataMenu-form-windows ul {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0px;
    margin-left: -45px;
    list-style: none;
}

.dataMenu-form-windows li {
    color:hsl(216, 100%, 50%);
    font-weight: 900;
    padding: 1.2rem 1rem;
    margin-top: -20px;
}

.dataMenu-form-windows li:hover {
    background-color: hsl(207, 44%, 49%);
    color:  hsl(39, 67%, 92%);
    cursor: pointer;
}

ul .selected
{
    background-color: hsl(216, 100%, 50%);
    color: hsl(39, 67%, 92%);
}

.dataMenu-form-writter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background: linear-gradient(to left, hsl(211, 100%, 50%), hsl(195, 100%, 50%));
    border: 5px solid hsl(216, 100%, 50%);
    justify-content: center;
    border-top-width: 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 850px;
    gap: 15px;
}

#image
{
    display: none;
}

form input,
textarea {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(39, 67%, 92%);
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    outline: none;
    height: 30px;
    width: 365px;
    padding: 0px;
}

.row-input {
    width: 90%;
}

.row-input input {
    width: 98.8%;
}

input:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: hsl(207, 44%, 49%);
    border-radius: 15px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    background-color: hsl(39, 67%, 92%);
    border-radius: 25px;
}

textarea:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

.writter-section {
    flex-direction: column;
    display: flex;
}

.writter-section label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 96%);
    font-weight: bolder;
    text-indent: 10px;
    font-size: 22px;
}

/* Botones */

header button:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

main button {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: background-color 0.2s ease-in-out;
    background-color: hsl(216, 100%, 50%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.topnav-filter button {
    transition: transform 0.3s ease, color 0.3s ease;
}

.topnav-filter button:hover {
    transform: scale(1.1);
}

main button::before {
    transition: left 0.2s ease-in-out;
    background-color: hsl(207, 44%, 49%);
    position: absolute;
    height: 100%;
    content: '';
    left: -100%;
    width: 100%;
    z-index: -1;
    top: 0;
}

.delete::before {
    background-color: hsl(0, 68%, 50%);
}

.edit::before {
    background-color: hsl(118, 68%, 50%);
}

button:hover::before {
    left: 0;
}

.gallery {
    justify-content: start;
    overflow: scroll;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    height: 380px;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery img {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    height: auto;
    margin: 10px;
}

@media only screen and (max-width: 1550px) {

    body {
        overflow-y: visible;
    }

    .dataMenu-form-windows {
        height: 50px;
        width: 75%;
    }

    .topnav h1,
    h4 {
        display: none;
    }

    .topnav-filter {
        width: 87%;
    }

    .dataMenu {
        flex-direction: column;
    }

    .dataMenu-table {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .dataMenu-card {
        width: 40%;
    }

    .dataMenu-card-buttons button {
        height: 40px;
        width: 40px;
    }

    .dataMenu-form {
        height: 100%;
        width: 100%;
    }

    form {
        margin-bottom: 130px;
        margin-top: 10px;
        width: 900px;
        margin: 5px;
        gap: 20px;
    }

    form input {
        width: 350px;
        height: 30px;
    }

    .writter-section label {
        font-size: 18px;
        text-indent: 0;
    }

    .topnav-menu {
        width: 97%;
    }

    main {
        margin-bottom: 150px;
    }

    @media only screen and (max-width: 1280px) {

        .dataMenu-table {
            flex-direction: column;
        }

        .dataMenu-card {
            font-size: 15px;
            width: 80%;
        }

        .topnav-menu {
            width: 95%;
        }

        @media only screen and (max-width: 769px) {

            .dataMenu-card {
                font-size: 13px;
                width: 80%;
                margin-left: 0;
            }

            .dataMenu-table {
                justify-content: start;
                align-items: center;
                overflow: visible;
            }

            .dataMenu-card-buttons button {
                border-radius: 5px;
                height: 35px;
                width: 35px;
            }

            .dataMenu-form-buttons {
                margin-bottom: 0px;
            }

            form {
                margin-bottom: 15px;
                flex-direction: row;
                margin-top: 20px;
            }

            form input {
                font-size: 20px;
                height: 30px;
                width: 180px;
            }

            .row-input label {
                font-size: 15px;
                text-indent: 0;
            }

            .dataMenu-card-data {
                margin-top: 20px;
                font-size: 11px;
            }

            .topnav-menu {
                width: 92%;
            }

            .dataMenu-form-writter {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .dataMenu-form-windows {
                display: none;
            }

            .gallery img {
                width: 400px;
            }

            main {
                margin-bottom: 90px;
            }
        }
    }
}