/* Filtrador */

.filter-open {
  height: 200px;
}

.topnav-filter-form {
  display: flex;
  justify-content: center;
}

.topnav-filter-form form {
  position: absolute;
  margin-right: 0;
  width: 80%;
  gap: 3rem;
  top: 70px;
}

.topnav-filter-form input {
  width: 60%;
}

.topnav-filter-form label {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: hsl(0, 0%, 100%);
  font-weight: bolder;
  text-indent: 10px;
  font-size: 26px;
}

.topnav-filter button {
  transition: transform 0.3s ease, color 0.3s ease;
}

.topnav-filter button:hover {
  transform: scale(1.1);
}

.filter-input button {
  background-color: hsl(0, 0%, 100%);
}

.filter-input button::before {
  background-color: hsl(39, 100%, 50%);
}

@media only screen and (max-width: 1550px) {

  .topnav-filter-form form {
    gap: 2rem;
  }

  .topnav-filter-form label {
    font-size: 18px;
  }

  .topnav-filter-form input {
    width: 50%;
  }

  @media only screen and (max-width: 1280px) {

    .topnav-filter-form label {
      font-size: 16px;
    }

    .topnav-filter-form input {
      width: 160px;
    }

    @media only screen and (max-width: 769px) {
      .topnav-filter-form form {
        flex-direction: column;
      }

      .topnav-filter-form label {
        font-size: 14px;
      }

      .topnav-filter-form input {
        width: 100%;
      }

      .filter-open {
        height: 25rem;
      }
    }
  }
}