.topnav-filter {
  border: 5px solid hsl(216, 100%, 50%);
  background-color: hsl(39, 67%, 92%);
  transition: height 0.5s ease;
  justify-content: start;
  flex-direction: column;
  border-radius: 1.5rem;
  align-items: center;
  align-items: start;
  padding: 0.6rem 2%;
  margin-right: 15px;
  overflow: hidden;
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  width: 90%;
  height: 60px;
}

.topnav-filter svg {
  width: 30px;
  height: 40px;
}

.topnav-filter-form {
  transition: visibility 0s, opacity 0.3s ease;
  background-color: hsla(0, 0%, 0%, 0.7);
  justify-content: center;
  position: fixed;
  visibility: hidden;
  align-items: center;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 33;
  opacity: 0;
  left: 0;
  top: 0;
  display: flex;
}

.filter-menu
{
  background: linear-gradient(to left, hsl(211, 100%, 50%), hsl(195, 100%, 50%));
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  border: 5px solid hsl(216, 100%, 50%);    
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  padding: 12px;
  border-radius: 15px;
}

.topnav-filter-form.active {
  visibility: visible;
  opacity: 1;
}

.topnav-filter-form label {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: hsl(0, 0%, 96%);
  font-weight: bolder;
  text-indent: 10px;
  padding: 10px;
  font-size: 28px;
}

.filter-input {
  flex-direction: column;
  display: flex;
  width: 80%;

}

.filter-input input {
  width: 100%;
  font-size: 30px;
}

.filter-input.buttons {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.filter-input.buttons button {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  height: 100%;
  width: 40%;
  padding: 0.2rem;
}