.crud-form {
    flex-direction: column;
    display: flex;

    margin-right: 30px;
}

.crud-form-buttons{
    display: flex;
}

.topnav-form-buttons {
    margin-bottom: 10px;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.button-panel {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;    
    margin-top:10px;
    width: 220px;
}

.button-panel svg{
    height: 60px;
    width: 60px;
}

.topnav-form-buttons button:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

.crud-form-windows {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(216, 100%, 50%);
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin-top:10px;
    height: 3.5rem;
}

.crud-form-windows ul {
    display: flex;
    list-style: none;
}

.crud-form-windows li {
    color: hsl(216, 100%, 50%);
    padding: 1.2rem 1rem;
    font-weight: 900;
    margin-top: -16px;
}

.crud-form-windows li:hover {
    background-color: hsl(207, 44%, 49%);
    color: whitesmoke;
    cursor: pointer;
}

.selected#main-option
{
    background-color:hsl(216, 100%, 50%);
    color: white;
}

.selected#image-option
{
    background-color:hsl(216, 100%, 50%);
    color: white;
}

.area-section {
    flex-direction: column;
    display: flex;
}

.area-section label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 96%);
    font-weight: bolder;
    text-indent: 10px;
    font-size: 22px;
}

form {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background: linear-gradient(to left, hsl(211, 100%, 50%), hsl(195, 100%, 50%));
    border: 5px solid hsl(216, 100%, 50%);
    justify-content: center;
    border-top-width: 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    padding-top: 10px;
    margin-left: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 52rem;
    gap: 15px;
}

#image {
    display: none;
}

#extra {
    display: none;
}

#image.active {
    display: flex;
}

#image.unactive {
    display: none;
}

#main.active {
    display: flex;
}

#main.unactive {
    display: none;
}

form input,
textarea {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(39, 67%, 92%);
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    outline: none;
    width: 365px;
    padding: 0.5rem;
}

.long {
    width: 48rem;
}


.filter-menu input,
textarea {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(39, 67%, 92%);
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    font-size: 26px;
    outline: none;
    width: 365px;
    padding: 0.5rem;
}

.row-input {
    width: 92%;
}

.row-input input {
    width: 98.8%;
}

input:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=form] {
    display: none;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
    text-align: start;
    height: 150px;
    resize: none;
    width: 100%;
}

textarea:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

@media only screen and (max-width: 769px) {

        .crud-form {
            margin-top: 10px;
        }

        .crud-form form {
            flex-wrap: wrap;
            width: 90%;
            height: 100%;
        }

        .crud-form input {
            width: 22rem;
        }

        .crud-form-windows {
            margin-top: 30px;
        }

        .crud-form-area {
            justify-content: start;
            align-items: start;
            margin: 0;
            padding: 0;
            display: flex;
            margin-left: -40px;
        }
    }