/* Formulario */

.dataMenu-form {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.dataMenu-form-buttons {
    margin-bottom: 10px;
    justify-content: end;
    align-items: center;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
}

.button-panel {
    display: flex;
}

.dataMenu-form-buttons button {
    margin-right: 20px;
    cursor: pointer;
    border: none;
    height: 60px;
    width: 70px;
}

.dataMenu-form-buttons button:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
}

.dataMenu-form-windows {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(216, 100%, 50%);
    border-radius: 5px;
    width: 50rem;
    overflow: hidden;
    height: 60%;
    position: relative;
}

.dataMenu-form-windows ul {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0px;
    margin-left: 0px;
    list-style: none;
}

.dataMenu-form-windows li {
    color:hsl(216, 100%, 50%);
    font-weight: 900;
    padding: 1.2rem 1rem;
    margin-top: -20px;
}

.dataMenu-form-windows li:hover {
    background-color: hsl(207, 44%, 49%);
    color:  hsl(39, 67%, 92%);
    cursor: pointer;
}

ul .selected
{
    background-color: hsl(216, 100%, 50%);
    color: hsl(39, 67%, 92%);
}

.dataMenu-form-writter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

form {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background: linear-gradient(to left, hsl(211, 100%, 50%), hsl(195, 100%, 50%));
    border: 5px solid hsl(216, 100%, 50%);
    justify-content: center;
    border-top-width: 25px;
    padding-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 850px;
    gap: 15px;
}

#image
{
    display: none;
}

form input,
textarea {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(39, 67%, 92%);
    border-radius: 15px;
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    outline: none;
    height: 30px;
    width: 365px;
    padding: 0px;
}

.row-input {
    width: 90%;
}

.row-input input {
    width: 98.8%;
}

input:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
    text-align: start;
    height: 150px;
    resize: none;
    width: 100%;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: hsl(207, 44%, 49%);
    border-radius: 15px;
    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    background-color: hsl(39, 67%, 92%);
    border-radius: 25px;
}

textarea:focus {
    border: 5px solid hsl(216, 100%, 50%);
}

.writter-section {
    flex-direction: column;
    display: flex;
}

.writter-section label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 96%);
    font-weight: bolder;
    text-indent: 10px;
    font-size: 22px;
}

@media only screen and (max-width: 1550px) {

    form {
        margin-bottom: 130px;
        margin-top: 10px;
        width: 900px;
        margin: 5px;
        gap: 20px;
    }

    form input {
        width: 350px;
        height: 30px;
    }

    .writter-section label {
        font-size: 18px;
        text-indent: 0;
    }

    @media only screen and (max-width: 1280px) {
        @media only screen and (max-width: 769px) {

            form {
                margin-bottom: 15px;
                flex-direction: row;
                margin-top: 20px;
            }

            form input {
                font-size: 20px;
                height: 30px;
                width: 180px;
            }

            .row-input label {
                font-size: 15px;
                text-indent: 0;
            }
        }
    }
}