.topnav {
    position: relative;
    border: 8px solid hsl(216, 100%, 50%)6ff;
    background-color: hsl(240, 65%, 49%);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    margin: 5px;
    margin-bottom: 10px;
}

.users {
    display: flex;
    align-items: end;
    gap: 20px;
}

.menu-icon {
    position: relative;
    background: none;
    cursor: pointer;
    color: inherit;
    display: block;
    font: inherit;
    border: none;
    padding: 5px;
}

.bar {
    background-color: white;
    height: 5px;
    width: 50px;
    margin: 6px 0;
    transition: 0.8s;
}

.menu-icon.active .bar:nth-child(1) {
    transform: rotate(-405deg) translate(-7px, 8px);
}

.menu-icon.active .bar:nth-child(2) {
    width: 0;
    background-color: hsl(240, 65%, 49%);
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(405deg) translate(-7px, -8px);
}

.topnav-menu {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(211, 100%, 50%);
    transition: height 0.5s ease;
    border-radius: 25px;
    position: absolute;
    overflow: hidden;
    height: 0px;
    margin: 5px;
    z-index: -1;
    width: 98%;
    left: 10px;
    top: 60px;
}

.topnav-menu-content {
    justify-content: center;
    align-items: start;
    padding: 10px;
    display: flex;
    gap: 100px;
}

.topnav-menu.active {
    height: 53rem;
}

.topnav-menu-content h4 {
    color: hsl(0, 0%, 96%);
}

.topnav-menu-content-card {
    border: 5px solid hsl(211, 100%, 50%);
    background-color: hsl(195, 53%, 79%);
    margin-top: 50px;
    padding: 10px;
    border-radius: 25px;
    width: 33%;
}

.main-topbar {
    display: flex;
    justify-content: space-between;
}