// Menu

.topnav-menu.active {
    height: 50rem;
}

.filter-icon svg {
    transition: transform 0.5s ease;
}

.filter-icon.rotated svg {
    transform: rotate(180deg);
}

.menu-icon {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.05);
    position: relative;
    background: none;
    cursor: pointer;
    color: inherit;
    display: block;
    font: inherit;
    border: none;
    padding: 5px;
}

main button {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: background-color 0.2s ease-in-out;
    background-color: hsl(216, 100%, 50%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.bar {
    background-color: hsl(0, 0%, 100%);
    height: 5px;
    width: 50px;
    margin: 6px 0;
    transition: 0.8s;
}

.menu-icon.active .bar:nth-child(1) {
    transform: rotate(-405deg) translate(-7px, 8px);
}

.menu-icon.active .bar:nth-child(2) {
    width: 0;
    background-color: hsl(240, 65%, 49%);
}

.menu-icon.active .bar:nth-child(3) {
    transform: rotate(405deg) translate(-7px, -8px);
}

.topnav {
    position: relative;
    background-color: hsl(240, 65%, 49%);
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 20px;
    display: flex;
    margin: 5px;
}

.topnav-filter {
    border: 5px solid hsl(216, 100%, 50%);
    background-color: hsl(39, 67%, 92%);
    transition: height 0.5s ease;
    justify-content: start;
    padding-bottom: 0.8rem;
    flex-direction: column;
    border-radius: 1.5rem;
    align-items: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 5%;
    overflow: hidden;
    display: flex;
    height: 50px;
    margin: 5px;
    width: 35%;
}

.topnav-filter svg {
    width: 30px;
    height: 40px;
}

.users {
    display: flex;
    align-items: center;
    width: 30rem;
    gap: 15px;
}

nav svg {
    transition: transform 0.3s ease, color 0.3s ease;
    fill: hsl(0, 0%, 100%);
    cursor: pointer;
}

nav svg:hover {
    transform: scale(1.1);
}

/* Panel del navegador */

.main-topbar {
    display: flex;
    justify-content: space-between;
}

.topnav-menu {
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(39, 67%, 92%));
    border: 5px solid hsl(211, 100%, 50%);
    transition: height 0.5s ease;
    border-radius: 25px;
    position: absolute;
    overflow: hidden;
    height: 0px;
    margin: 5px;
    z-index: -4;
    width: 98%;
    left: 10px;
    top: 60px;
}

.topnav-menu-content {
    justify-content: center;
    align-items: start;
    padding: 10px;
    display: flex;
    gap: 100px;
}

.topnav-menu-content h4 {
    color: hsl(0, 0%, 96%);
}

.topnav-menu-content-card {
    border: 5px solid hsl(211, 100%, 50%);
    background-color: hsl(195, 53%, 79%);
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    width: 33%;
}

// Botones del menu

main button::before {
    transition: left 0.2s ease-in-out;
    background-color: hsl(207, 44%, 49%);
    position: absolute;
    height: 100%;
    content: '';
    left: -100%;
    width: 100%;
    z-index: -1;
    top: 0;
}

.delete::before {
    background-color: hsl(0, 68%, 50%);
}

.edit::before {
    background-color: hsl(118, 68%, 50%);
}

button:hover::before {
    left: 0;
}

@media only screen and (max-width: 1550px) {

    .topnav h1,
    h4 {
        display: none;
    }

    .dataMenu-form-windows {
        height: 50px;
        width: 75%;
    }

    .topnav-filter {
        width: 87%;
    }

    .dataMenu {
        flex-direction: column;
    }

    .dataMenu-table {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .dataMenu-card {
        width: 40%;
    }

    .dataMenu-card-buttons button {
        height: 40px;
        width: 40px;
    }

    .dataMenu-form {
        height: 100%;
        width: 100%;
    }

    .topnav-menu {
        width: 97%;
    }

    @media only screen and (max-width: 1280px) {

        .dataMenu-table {
            flex-direction: column;
        }

        .dataMenu-card {
            font-size: 15px;
            width: 80%;
        }

        .topnav-menu {
            width: 95%;
        }

        @media only screen and (max-width: 769px) {

            .dataMenu-card {
                font-size: 13px;
                width: 80%;
                margin-left: 0;
            }

            .dataMenu-table {
                justify-content: start;
                align-items: center;
                overflow: visible;
            }

            .dataMenu-card-buttons button {
                border-radius: 5px;
                height: 35px;
                width: 35px;
            }

            .dataMenu-form-buttons {
                margin-bottom: 0px;
            }

            .dataMenu-card-data {
                margin-top: 20px;
                font-size: 11px;
            }

            .topnav-menu {
                width: 92%;
            }

            .dataMenu-form-writter {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .dataMenu-form-windows {
                display: none;
            }

        }
    }
}