.crud-pages {
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 3px hsl(216, 100%, 50%) solid;
    justify-content: space-between;
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 15px;
    height: 3.5rem;
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 1rem;
    z-index: 5;
    width: 54rem;
}

.crud-pages ul {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
}

ul svg {
    width: 2.5rem;
    cursor: pointer;
    fill: hsl(216, 100%, 50%);
}

.actual-page {
    font-weight: 900;
    text-decoration: underline;
    color: hsl(216, 100%, 50%);
}