body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(195, 53%, 79%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    z-index: 8;
}

main button {
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: background-color 0.2s ease-in-out;
    background-color: hsl(216, 100%, 50%);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

header svg {
    fill: white;
    width: 50px;
}