body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(195, 53%, 79%);
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.dataMenu {
    display: flex;
} 

@media only screen and (max-width: 1550px) {

    body {
        overflow-y: visible;
    }

    main {
        margin-bottom: 150px;
    }

    @media only screen and (max-width: 1280px) {
        @media only screen and (max-width: 769px) {
            .gallery img {
                width: 400px;
            }

            main {
                margin-bottom: 90px;
            }
        }
    }
}